# dependencies
/node_modules
/playground/node_modules

# testing

# logs
logs
*.log
/playground/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.vscode
.idea
.DS_Store
*.pem
.cache
Thumbs.db
/@tmp

# production
/dist
/playground/dist
/playground/public/fonts
/playground/public/style.css
docs/.vitepress/dist
docs/.vitepress/cache

# TypeScript
*.tsbuildinfo

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
/public/fonts/comforter-brush/comforter-brush-regular.woff2
/public/fonts/montserrat/montserrat-bold.eot
/public/fonts/montserrat/montserrat-bold.ttf
/public/fonts/montserrat/montserrat-bold.woff
/public/fonts/montserrat/montserrat-bold.woff2
/public/fonts/montserrat/montserrat-bolditalic.eot
/public/fonts/montserrat/montserrat-bolditalic.ttf
/public/fonts/montserrat/montserrat-bolditalic.woff
/public/fonts/montserrat/montserrat-light.eot
/public/fonts/montserrat/montserrat-light.ttf
/public/fonts/montserrat/montserrat-light.woff
/public/fonts/montserrat/montserrat-lightitalic.eot
/public/fonts/montserrat/montserrat-lightitalic.ttf
/public/fonts/montserrat/montserrat-lightitalic.woff
/public/fonts/montserrat/montserrat-medium.eot
/public/fonts/montserrat/montserrat-medium.ttf
/public/fonts/montserrat/montserrat-medium.woff
/public/fonts/montserrat/montserrat-medium.woff2
/public/fonts/montserrat/montserrat-mediumitalic.eot
/public/fonts/montserrat/montserrat-mediumitalic.ttf
/public/fonts/montserrat/montserrat-mediumitalic.woff
/public/fonts/montserrat/montserrat-regular.eot
/public/fonts/montserrat/montserrat-regular.ttf
/public/fonts/montserrat/montserrat-regular.woff
/public/fonts/montserrat/montserrat-regular.woff2
/public/fonts/montserrat/montserrat-regularitalic.eot
/public/fonts/montserrat/montserrat-regularitalic.ttf
/public/fonts/montserrat/montserrat-regularitalic.woff
/public/fonts/montserrat/montserrat-semibold.eot
/public/fonts/montserrat/montserrat-semibold.ttf
/public/fonts/montserrat/montserrat-semibold.woff
/public/fonts/montserrat/montserrat-semibold.woff2
/public/fonts/montserrat/montserrat-semibolditalic.eot
/public/fonts/montserrat/montserrat-semibolditalic.ttf
/public/fonts/montserrat/montserrat-semibolditalic.woff
/public/fonts/opensans/opensans-bold.eot
/public/fonts/opensans/opensans-bold.ttf
/public/fonts/opensans/opensans-bold.woff
/public/fonts/opensans/opensans-light.eot
/public/fonts/opensans/opensans-light.ttf
/public/fonts/opensans/opensans-light.woff
/public/fonts/opensans/opensans-regular.eot
/public/fonts/opensans/opensans-regular.ttf
/public/fonts/opensans/opensans-regular.woff
/public/fonts/opensans/opensans-semibold.eot
/public/fonts/opensans/opensans-semibold.ttf
/public/fonts/opensans/opensans-semibold.woff
/public/fonts/roboto/roboto-bold-webfont.woff
/public/fonts/roboto/roboto-bold-webfont.woff2
/public/fonts/roboto/roboto-bolditalic-webfont.woff
/public/fonts/roboto/roboto-bolditalic-webfont.woff2
/public/fonts/roboto/roboto-italic-webfont.woff
/public/fonts/roboto/roboto-italic-webfont.woff2
/public/fonts/roboto/roboto-light-webfont.woff
/public/fonts/roboto/roboto-light-webfont.woff2
/public/fonts/roboto/roboto-lightitalic-webfont.woff
/public/fonts/roboto/roboto-lightitalic-webfont.woff2
/public/fonts/roboto/roboto-medium-webfont.woff
/public/fonts/roboto/roboto-medium-webfont.woff2
/public/fonts/roboto/roboto-mediumitalic-webfont.woff
/public/fonts/roboto/roboto-mediumitalic-webfont.woff2
/public/fonts/roboto/roboto-regular-webfont.woff
/public/fonts/roboto/roboto-regular-webfont.woff2
/public/fonts/robotomono/robotomono-bold.eot
/public/fonts/robotomono/robotomono-bold.ttf
/public/fonts/robotomono/robotomono-bold.woff
/public/fonts/robotomono/robotomono-bold.woff2
/public/fonts/robotomono/robotomono-bolditalic.eot
/public/fonts/robotomono/robotomono-bolditalic.ttf
/public/fonts/robotomono/robotomono-bolditalic.woff
/public/fonts/robotomono/robotomono-bolditalic.woff2
/public/fonts/robotomono/robotomono-light.eot
/public/fonts/robotomono/robotomono-light.ttf
/public/fonts/robotomono/robotomono-light.woff
/public/fonts/robotomono/robotomono-light.woff2
/public/fonts/robotomono/robotomono-lightitalic.eot
/public/fonts/robotomono/robotomono-lightitalic.ttf
/public/fonts/robotomono/robotomono-lightitalic.woff
/public/fonts/robotomono/robotomono-lightitalic.woff2
/public/fonts/robotomono/robotomono-medium.eot
/public/fonts/robotomono/robotomono-medium.ttf
/public/fonts/robotomono/robotomono-medium.woff
/public/fonts/robotomono/robotomono-medium.woff2
/public/fonts/robotomono/robotomono-mediumitalic.eot
/public/fonts/robotomono/robotomono-mediumitalic.ttf
/public/fonts/robotomono/robotomono-mediumitalic.woff
/public/fonts/robotomono/robotomono-mediumitalic.woff2
/public/fonts/robotomono/robotomono-regular.eot
/public/fonts/robotomono/robotomono-regular.ttf
/public/fonts/robotomono/robotomono-regular.woff
/public/fonts/robotomono/robotomono-regular.woff2
/public/fonts/robotomono/robotomono-regularitalic.eot
/public/fonts/robotomono/robotomono-regularitalic.ttf
/public/fonts/robotomono/robotomono-regularitalic.woff
/public/fonts/robotomono/robotomono-regularitalic.woff2
/public/fonts/robotomono/robotomono-semibold.eot
/public/fonts/robotomono/robotomono-semibold.ttf
/public/fonts/robotomono/robotomono-semibold.woff
/public/fonts/robotomono/robotomono-semibolditalic.eot
/public/fonts/robotomono/robotomono-semibolditalic.ttf
/public/fonts/robotomono/robotomono-semibolditalic.woff
/asset/css/fonts/comforter-brush/comforter-brush-regular.woff2
/asset/css/fonts/montserrat/montserrat-bold.eot
/asset/css/fonts/montserrat/montserrat-bold.ttf
/asset/css/fonts/montserrat/montserrat-bold.woff
/asset/css/fonts/montserrat/montserrat-bold.woff2
/asset/css/fonts/montserrat/montserrat-bolditalic.eot
/asset/css/fonts/montserrat/montserrat-bolditalic.ttf
/asset/css/fonts/montserrat/montserrat-bolditalic.woff
/asset/css/fonts/montserrat/montserrat-light.eot
/asset/css/fonts/montserrat/montserrat-light.ttf
/asset/css/fonts/montserrat/montserrat-light.woff
/asset/css/fonts/montserrat/montserrat-lightitalic.eot
/asset/css/fonts/montserrat/montserrat-lightitalic.ttf
/asset/css/fonts/montserrat/montserrat-lightitalic.woff
/asset/css/fonts/montserrat/montserrat-medium.eot
/asset/css/fonts/montserrat/montserrat-medium.ttf
/asset/css/fonts/montserrat/montserrat-medium.woff
/asset/css/fonts/montserrat/montserrat-medium.woff2
/asset/css/fonts/montserrat/montserrat-mediumitalic.eot
/asset/css/fonts/montserrat/montserrat-mediumitalic.ttf
/asset/css/fonts/montserrat/montserrat-mediumitalic.woff
/asset/css/fonts/montserrat/montserrat-regular.eot
/asset/css/fonts/montserrat/montserrat-regular.ttf
/asset/css/fonts/montserrat/montserrat-regular.woff
/asset/css/fonts/montserrat/montserrat-regular.woff2
/asset/css/fonts/montserrat/montserrat-regularitalic.eot
/asset/css/fonts/montserrat/montserrat-regularitalic.ttf
/asset/css/fonts/montserrat/montserrat-regularitalic.woff
/asset/css/fonts/montserrat/montserrat-semibold.eot
/asset/css/fonts/montserrat/montserrat-semibold.ttf
/asset/css/fonts/montserrat/montserrat-semibold.woff
/asset/css/fonts/montserrat/montserrat-semibold.woff2
/asset/css/fonts/montserrat/montserrat-semibolditalic.eot
/asset/css/fonts/montserrat/montserrat-semibolditalic.ttf
/asset/css/fonts/montserrat/montserrat-semibolditalic.woff
/asset/css/fonts/opensans/opensans-bold.eot
/asset/css/fonts/opensans/opensans-bold.ttf
/asset/css/fonts/opensans/opensans-bold.woff
/asset/css/fonts/opensans/opensans-light.eot
/asset/css/fonts/opensans/opensans-light.ttf
/asset/css/fonts/opensans/opensans-light.woff
/asset/css/fonts/opensans/opensans-regular.eot
/asset/css/fonts/opensans/opensans-regular.ttf
/asset/css/fonts/opensans/opensans-regular.woff
/asset/css/fonts/opensans/opensans-semibold.eot
/asset/css/fonts/opensans/opensans-semibold.ttf
/asset/css/fonts/opensans/opensans-semibold.woff
/asset/css/fonts/roboto/roboto-bold-webfont.woff
/asset/css/fonts/roboto/roboto-bold-webfont.woff2
/asset/css/fonts/roboto/roboto-bolditalic-webfont.woff
/asset/css/fonts/roboto/roboto-bolditalic-webfont.woff2
/asset/css/fonts/roboto/roboto-italic-webfont.woff
/asset/css/fonts/roboto/roboto-italic-webfont.woff2
/asset/css/fonts/roboto/roboto-light-webfont.woff
/asset/css/fonts/roboto/roboto-light-webfont.woff2
/asset/css/fonts/roboto/roboto-lightitalic-webfont.woff
/asset/css/fonts/roboto/roboto-lightitalic-webfont.woff2
/asset/css/fonts/roboto/roboto-medium-webfont.woff
/asset/css/fonts/roboto/roboto-medium-webfont.woff2
/asset/css/fonts/roboto/roboto-mediumitalic-webfont.woff
/asset/css/fonts/roboto/roboto-mediumitalic-webfont.woff2
/asset/css/fonts/roboto/roboto-regular-webfont.woff
/asset/css/fonts/roboto/roboto-regular-webfont.woff2
/asset/css/fonts/robotomono/robotomono-bold.eot
/asset/css/fonts/robotomono/robotomono-bold.ttf
/asset/css/fonts/robotomono/robotomono-bold.woff
/asset/css/fonts/robotomono/robotomono-bold.woff2
/asset/css/fonts/robotomono/robotomono-bolditalic.eot
/asset/css/fonts/robotomono/robotomono-bolditalic.ttf
/asset/css/fonts/robotomono/robotomono-bolditalic.woff
/asset/css/fonts/robotomono/robotomono-bolditalic.woff2
/asset/css/fonts/robotomono/robotomono-light.eot
/asset/css/fonts/robotomono/robotomono-light.ttf
/asset/css/fonts/robotomono/robotomono-light.woff
/asset/css/fonts/robotomono/robotomono-light.woff2
/asset/css/fonts/robotomono/robotomono-lightitalic.eot
/asset/css/fonts/robotomono/robotomono-lightitalic.ttf
/asset/css/fonts/robotomono/robotomono-lightitalic.woff
/asset/css/fonts/robotomono/robotomono-lightitalic.woff2
/asset/css/fonts/robotomono/robotomono-medium.eot
/asset/css/fonts/robotomono/robotomono-medium.ttf
/asset/css/fonts/robotomono/robotomono-medium.woff
/asset/css/fonts/robotomono/robotomono-medium.woff2
/asset/css/fonts/robotomono/robotomono-mediumitalic.eot
/asset/css/fonts/robotomono/robotomono-mediumitalic.ttf
/asset/css/fonts/robotomono/robotomono-mediumitalic.woff
/asset/css/fonts/robotomono/robotomono-mediumitalic.woff2
/asset/css/fonts/robotomono/robotomono-regular.eot
/asset/css/fonts/robotomono/robotomono-regular.ttf
/asset/css/fonts/robotomono/robotomono-regular.woff
/asset/css/fonts/robotomono/robotomono-regular.woff2
/asset/css/fonts/robotomono/robotomono-regularitalic.eot
/asset/css/fonts/robotomono/robotomono-regularitalic.ttf
/asset/css/fonts/robotomono/robotomono-regularitalic.woff
/asset/css/fonts/robotomono/robotomono-regularitalic.woff2
/asset/css/fonts/robotomono/robotomono-semibold.eot
/asset/css/fonts/robotomono/robotomono-semibold.ttf
/asset/css/fonts/robotomono/robotomono-semibold.woff
/asset/css/fonts/robotomono/robotomono-semibolditalic.eot
/asset/css/fonts/robotomono/robotomono-semibolditalic.ttf
/asset/css/fonts/robotomono/robotomono-semibolditalic.woff
/tailwind.config.js
